<div class="home">
  <img src="../assets/images/home.jpg" />
</div>

<div class="row">
<div class="col-lg-1"></div>
  <div class="card-1">
    <img class="avatar" src="../assets/images/icons_restaurants_tl_2x.png" />
    <div class="msgHeader">
      Find the best places to eat</div>
    <div class="msgCopy"> 4.3 million restaurants &mdash; everything from street food to fine dining</div>
  </div>

  <div class="card-1">
    <img class="avatar" src="../assets/images/icon_reviews_2x.png" />
    <div class="msgHeader">
      See the latest reviews</div>
    <div class="msgCopy"> Millions of restaurant reviews and photos from our sites</div>
  </div>

  <div class="card-1">
    <img class="avatar" src="../assets/images/icon_bookRestaurants_tl_2x.png" />
    <div class="msgHeader">
      Reserve a table</div>
    <div class="msgCopy"> Make online reservations at restaurants worldwide</div>
  </div>
</div>