<div class="nav">
  <mat-toolbar color="white">
    <img class="mdc-image-list__image" routerLink="/home" src="../assets/images/TA_logo_newGreen_primary.svg" width="150px">
    <span class="example-spacer"></span>
    <input id="searchid" class="form-control mr-sm-2" type="search" placeholder="Search"/>
    <!--search-->
    <button mat-icon-button border="0pc solid white">
      <mat-icon aria-label="Example icon-button with a heart icon">search</mat-icon>
    </button>
    <!-- menu -->
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/login">
        <mat-icon>how_to_reg</mat-icon>
        <a mat-button>
          <span>Login</span>
        </a>
      </button>
      <button mat-menu-item routerLink="/signup">
        <mat-icon>person</mat-icon>
        <a mat-button>
          <span>Signup</span>
        </a>
      </button>
   
    </mat-menu>
  </mat-toolbar>

</div>




<div>
  <router-outlet></router-outlet>
</div>