
<div class="login-box">

    <img src="../../assets/images/avatar.png" class="avatar"> 
        <h1>SignUp Here</h1>
            <form [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm)">
                
            <p>UserName</p>     
            <input formControlName="UserName" type="text" placeholder="Enter UserName" >
            <span *ngIf="!regiForm.get('UserName').valid && regiForm.get('UserName').touched" style="color: red">Please enter UserName !</span>
            
           
            <p>Email</p>
            <input formControlName="Email" type="text" placeholder="Enter Email">
            <span *ngIf="!regiForm.get('Email').valid && regiForm.get('Email').touched" style="color: red">Enter proper Email !</span>
            
            <p>Password</p>
            <input formControlName="Password" type="Password" placeholder="Enter Password">
            <span *ngIf="!regiForm.get('Password').valid && regiForm.get('Password').touched" style="color: red">Enter proper password</span>
         <div>
            <p>Country Name</p>     
            <input formControlName="CountryName" type="text" placeholder="Enter CountryName" >
            <span *ngIf="!regiForm.get('CountryName').valid && regiForm.get('CountryName').touched" style="color: red">Please enter CountryName !!!</span>
            
            <p>City Name</p>     
            <input formControlName="CityName" type="text" placeholder="Enter CityName" >
            <span *ngIf="!regiForm.get('CityName').valid && regiForm.get('CityName').touched" style="color: red">Please enter CityName !</span>
        </div>
            <p>Phone Number</p>     
            <input formControlName="PhoneNumber" type="number" placeholder="Enter PhoneNumber" >
            <span *ngIf="!regiForm.get('PhoneNumber').valid && regiForm.get('PhoneNumber').touched" style="color: red">Please enter PhoneNumber !</span>
            
                <p class="utype" >User Type</p>
                <div class="utyperbtn">
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio1">
                      <input formControlName="UserType" type="radio" class="form-check-input" id="radio1" value="Normal User" >Normal User
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label" for="radio2">
                      <input formControlName="UserType" type="radio" class="form-check-input" id="radio2" value="Restaurant">Restaurant
                    </label>
                  </div>
                </div>
                <span *ngIf="!regiForm.get('UserType').valid && regiForm.get('UserType').touched" style="color: red">enter user type</span>
                
                <p class="utype">Upload Your Profile</p>
            <div class="ufile">
                <input type="file" class="form-control-file" (change)="onFileChange($event)"  #fileInput >
                
            </div>
            <input [disabled]="!regiForm.valid " type="submit" value="submit"/>
    
            </form>
        
        
        </div>

