<div class="login-box">

    <img src="avatar.png" class="avatar"> 
        <h1>SignUp Here</h1>
            <form>
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username">
            <p>Email</p>
            <input type="text" name="email" placeholder="Enter Email">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <p>Confirm Password</p>
            <input type="password" name="confirmpassword" placeholder="Enter Confirm Password">
            <input type="submit" name="submit" value="submit">
            <a href="#">Forget Password</a>    
            </form>
        
        
        </div>